<html>

<head>
    <title>Admin Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="align">
    <div class="site__container">
        <div class="grid__container">
            <h1 class="text--center">Admin</h1>
            <form action="loginAdmin" method="post" class="form form--login">
                <div class="form__field">
                    <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
                    <input id="login__username" name="email" type="email" class="form__input" placeholder="Email" required>
                </div>
                <div class="form__field">
                    <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
                    <input id="login__password" name="pass" type="password" class="form__input" placeholder="Password" required>
                </div>
                <div class="form__field">
                    <input type="submit" value="Sign In">
                </div>
            </form>
            <p class="text--center">Not a member? <a href="register">Sign up now</a> <span class="fontawesome-arrow-right"></span></p>
            <p class="text--center">Employee? <a href="login">Employee Login</a> <span class="fontawesome-arrow-right"></span></p>
        </div>
    </div>
</body>

</html>
