<html>

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="align">
    <div class="site__container">
        <h1 class="text--center">Welcome to Employee Management System</h1>
        <div class="grid__container">
            <form action="/login" method="get" class="form form--login">
                <div class="form form--login">
                    <div class="form__field">
                        <input type="submit" value="Login">
                    </div>
            </form>
            <form action="/register" method="get" class="form form--login">
                <div class="form form--login">
                    <div class="form__field">
                        <input type="submit" value="Register">
                    </div>
            </form>
            </div>
            </div>
        </div>
</body>
</body>

</html>
