<html>

<head>
    <title>Change Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="align">
    <div class="site__container">
        <div class="grid__container">
            <h1 class="text--center">Password</h1>
            <form action="ChangePass1" method="post" class="form form--login">
                <div class="form__field">
                    <label class="fontawesome-user" for="login__username"></label>
                    <input id="login__username" name="old" type="password" class="form__input" placeholder="Old Password" required>
                </div>
                <div class="form__field">
                    <label class="fontawesome-home" for="login__username"></label>
                    <input id="login__username" name="new" type="password" class="form__input" placeholder="New Password" required>
                </div>
                <div class="form__field">
                    <label class="fontawesome-home" for="login__username"></label>
                    <input id="login__username" name="new" type="password1" class="form__input" placeholder="Confirm Password" required>
                </div>                
                <div class="form__field">
                    <input type="submit" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</body>

</html>
