<html>

<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="align">
    <div class="site__container">
        <h1 class="text--center">Register</h1>
        <div class="grid__container">
            <form action="registerUser" method="post" class="form form--login">
                <div class="form__field">
                    <label class="fontawesome-user" for="login__name"><span class="hidden"></span></label>
                    <input id="login__name" name="name" type="text" class="form__input" placeholder="Name" required>
                </div>
                <div class="form__field">
                    <label class="fontawesome-phone" for="login__number"><span class="hidden"></span></label>
                    <input id="login__number" name="phno" type="number" class="form__input" placeholder="Phone Number" required>
                </div>
                <div class="form__field">
                    <label class="fontawesome-home" for="login__address"><span class="hidden"></span></label>
                    <input id="login__type" name="type" type="text" class="form__input" list="types" placeholder="Type">
                    <datalist id="types">
                        <option value="Employee">
                        <option value="Human Resource">
                    </datalist>
                </div>
                <div class="form__field">
                    <label class="fontawesome-user" for="login__username"><span class="hidden"></span></label>
                    <input id="login__username" name="uid" type="text" class="form__input" placeholder="Username" required>
                </div>
                <div class="form__field">
                    <label class="fontawesome-lock" for="login__password"><span class="hidden"></span></label>
                    <input id="login__password" name="pass" type="password" class="form__input" placeholder="Password" required>
                </div>
                <div class="form__field">
                    <input type="submit" value="Register" style="width: 45% ; margin-right: 2rem">
                    <input type="reset" value="Clear" style="width: 45%">
                </div>
            </form>
        </div>
    </div>
</body>

</html>
